/* In this file you can overwrite/extend the given babe-styles or declare your own ones */

/* Example of extending a given babe-style */

/*.babe-view-stimulus-container {
    height: auto;
    max-height: 350px;
} */

/* Display all titles in red */
/*.babe-view-title {
    color: red;
}*/

/* Example of declaring your own style */
.custom-border {
   border: 1px solid powderblue;
}


/* get rid of picture space in slider rating */
.babe-view-stimulus-container {
    display: flex;
    height: auto; /*before it was hardcoded 350px;*/
    margin: 0 auto;
    width: auto;
}




.babe-response-dropdown {
    color: rgba(0, 0, 0, 0.87);
    font-size: 17px;
    line-height: 27px;
    font-family: "Lato", "Noto Sans", sans-serif;
    margin: 30px auto;
    max-width: 700px;
}


th {
  padding: 15 px;
  font-family: calibri;
  background:lightgrey;
  }

table, td, th {
  font-family: "Lato", "Noto Sans", sans-serif;
  align: center;
}
